html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: darkslategray;
}

/* The menu sidebar. */

.container {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    position: relative;
}

.menu {
    width: 325px;
    background-color: #244c3b;
    padding: 20px;
    flex-shrink: 0;
    box-sizing: border-box;
    flex: 0 0 325px;
}

.menu h1 {
    font-family: Lokeya;
    font-size: 44px;
    text-align: center;
    color: rgb(137, 237, 210);
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 15px 0;
}

.menu ul li a {
    color: rgb(137, 237, 210);
    text-decoration: none;
    font-size: 25px;
    font-family: Lokeya;
}

.menu ul li a:hover {
    color: rgb(18, 218, 48);
}

/* Main body of the content of the page. */

.main {
    flex: 1;
    padding: 20px;
    background-color: darkslategrey;
    box-sizing: border-box;
}

.main h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: aliceblue;
}

.main p, .desc, .game {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: aliceblue;
}

@font-face {
    font-family: "Lokeya";
    src: url("../fonts/Lokeya.ttf");
}